/*? #region DATOS BÁSICOS DE CSS */
@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
/* #endregion */

/* * <=============== MENU DE NAVEGACIÓN ==============> */

/*TODO #region MENU DE NAVEGACION (MOBILE) */
.header {
  background-color: #052b42;
  width: 100vw;
  position: fixed;
  z-index: 1000;
  border-radius: 0px;
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.responsive-button {
  background-color: transparent;
  border: none;
  padding: 0.8rem;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  color: #fff;
}

.nav--list {
  display: none;
  list-style: none;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
}

.nav--list.active {
  display: flex;
  flex-direction: column;
}

.list__item {
  width: 100%;
  padding: 0.8rem 0;
}

.nav__link {
  color: #dbdbdb;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
  padding: 0.5rem;
}

.linea {
  height: 1px;
  width: 80%;
  background-color: #dbdbdb;
  margin: 0 auto;
}
.responsive-button.rotate {
  animation-name: rotating;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
/* #endregion */

/*TODO #region MENU DE NAVEGACION (TABLET) */
@media (min-width: 768px) and (max-width: 1199px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
  }
  .responsive-button {
    display: none;
  }
  .nav--list {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    padding: 0;
  }
  .linea {
    display: none !important;
  }
}
/* #endregion */

/*TODO #region MENU DE NAVEGACION (PC) */
@media (min-width: 1200px) {
  .nav {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  .responsive-button {
    display: none;
  }
  .nav--list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .linea {
    display: none !important;
  }
  .nav__link {
    border-radius: 10px;
    transition: 0.5s all ease-in-out;
  }
  .nav__link:hover {
    background-color: #fff;
    color: #0b2235;
  }
}
/* #endregion */

/*? #region ANIMACIÓN */
@keyframes rotating {
  0% {
    transform: rotate(91deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(91deg);
  }
}
/* #endregion */

/* * <=============== INICIO ==============> */

/*TODO #region INICIO (MOBILE) */
.start {
  background: linear-gradient(to bottom, #023859, #052b42);
  width: 100vw;
  height: 100vh;
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.imagen {
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 10px;
  max-width: 90%;
  cursor: pointer;
}

.imagen img {
  max-width: 100%;
  height: auto;
  background-color: #fff;
  display: block;
  border-radius: 5px;
}
.action-call {
  margin: 4vh;
  color: ghostwhite;
  font-size: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.action-call i {
  animation: parpadeo 0.7s infinite;
}
#imagenlogo {
  display: block;
}

#cartavolteada {
  display: none;
}

#imagenlogo.active {
  display: none;
}

#cartavolteada.active {
  display: block;
}
/*#endregion */

/*TODO #region INICIO (TABLET) */
@media (min-width: 768px) and (max-width: 1199px) {
  .start {
    padding-top: 8vh;
  }

  .imagen {
    max-width: 70%;
    padding: 1.5rem;
  }
}
/* #endregion */

/*TODO #region INICIO (PC) */
@media (min-width: 1200px) {
  .start {
    padding-top: 8vh;
  }

  .imagen {
    max-width: 50%;
    padding: 2rem;
  }
  .action-call {
    margin: 4vh;
    color: ghostwhite;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #imagenlogo {
    display: block;
    max-height: 50vh;
    width: 40vw;
  }

  #cartavolteada {
    display: none;
  }

  #imagenlogo.active {
    display: none;
  }

  #cartavolteada.active {
    display: block;
    max-height: 50vh;
    width: 40vw;
  }
}
/* #endregion */

/*? #region ANIMACION */
@keyframes parpadeo {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/* #endregion */

/* * <=============== HISTORIA ==============> */

/*TODO #region HISTORIA (MOBILE) */
.history {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4vh 8vw;
  background: linear-gradient(to right, #f2f2f2, #dddddd);
  min-height: 80vh;
}

.contenido-texto {
  text-align: center;
  margin-bottom: 3rem;
  width: 100%;
}
.contenido-texto ul, h2{
  list-style: none;
  text-align: left;
  align-self: center;
  justify-self: center;
  text-align: center;
}

.titulo {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  color: #0b2235;
}

.texto {
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}
/* #endregion */

/*TODO #region HISTORIA (TABLET) */
@media (min-width: 768px) and (max-width: 1199px) {
  .history {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 6vh 5vw;
    min-height: 60vh;
  }

  .contenido-texto {
    width: 50%;
    text-align: left;
    padding-right: 3rem;
    margin-bottom: 0;
  }

  .titulo {
    font-size: 2rem;
    text-align: left;
    border-bottom: 3px solid #0b2235;
    padding-bottom: 1rem;
  }

  .texto {
    font-size: 1.1rem;
  }

  .history .imagen {
    width: 40%;
    max-width: 400px;
  }
}
/* #endregion */

/*TODO #region HISTORIA (PC) */
@media (min-width: 1200px) {
  .history {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8vh 10vw;
    min-height: 50vh;
  }

  .contenido-texto {
    width: 50%;
    padding-right: 5rem;
  }

  .titulo {
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }

  .texto {
    font-size: 1.1rem;
  }

  .history .imagen {
    width: 30%;
    max-width: 350px;
  }
}
/* #endregion */

/* * <=============== SERVICIOS =============> */

/*TODO #region SERVICIOS (MOBILE) */
.services {
  background-color: #fff;
  height: 200vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.services .dark-boxes-container {
  display: flex;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 0vh;
  padding: 0;
}
.services .dark-boxes-container .service-box {
  background-color: #0b2235;
  width: 80vw;
  height: 28vh;
  margin-top: 5vh;
  padding: 5vh 8vw;
  border-radius: 25px;
  display: flex;
  font-size: 0.9em;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.services .dark-boxes-container .service-box .servicio-title {
  color: rgb(232, 232, 232);
  font-size: 2em;
  margin-bottom: 0.5vh;
  font-family: monospace;
}
.services .dark-boxes-container .service-box ul {
  color: rgb(209, 209, 209);
  list-style: square;
  align-self: flex-start;
  margin-left: 8vw;
}
.services .dark-boxes-container #title-box {
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-size: 2.2em;
  text-align: center;
}
.services .light-boxes-container {
  display: flex;
  background-color: #0b2235;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 0vh;
  padding: 0;
}
.services .light-boxes-container .service-box {
  background-color: #ffffff;
  width: 80vw;
  height: 28vh;
  margin-top: 5vh;
  padding: 5vh 8vw;
  border-radius: 25px;
  font-size: 0.9em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.services .light-boxes-container .service-box .servicio-title {
  color: rgb(0, 0, 0);
  font-size: 2em;
  margin-bottom: 0vh;
  font-family: monospace;
}
.services .light-boxes-container .service-box ul {
  color: rgb(32, 32, 32);
  list-style: square;
  align-self: flex-start;
  margin-left: 8vw;
}
.services .light-boxes-container .service-box #special-title {
  font-size: 2em;
}
/* #endregion */

/*TODO #region SERVICIOS (TABLET) */
@media (min-width: 768px) and (max-width: 1199px) {
  .services {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .services .dark-boxes-container {
    display: flex;
    background-color: #fff;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0vh;
    padding: 0;
  }
  .services .dark-boxes-container .service-box {
    background-color: #0b2235;
    width: 40vw;
    height: MAX-content;
    margin-top: 2.5vh;
    padding: 2.5vh 4vw;
    border-radius: 25px;
    display: flex;
    font-size: 1.3em;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .services .dark-boxes-container .service-box .servicio-title {
    color: rgb(232, 232, 232);
    font-size: 2em;
    margin-bottom: 1vh;
    font-family: monospace;
  }
  .services .dark-boxes-container .service-box ul {
    color: rgb(209, 209, 209);
    list-style: square;
    align-self: center;
    margin-left: 0;
  }
  .services .dark-boxes-container #title-box {
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-size: 2.2em;
    text-align: center;
  }
  .services .light-boxes-container {
    display: flex;
    background-color: #0b2235;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 0vh;
    padding: 0;
  }
  .services .light-boxes-container .service-box {
    background-color: #fff;
    width: 40vw;
    height: max-content;
    margin-top: 2.5vh;
    padding: 2.5vh 4vw;
    border-radius: 25px;
    margin-bottom: 1vh;
    display: flex;
    font-size: 1.3em;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .services .light-boxes-container .service-box .servicio-title {
    color: rgb(11, 11, 11);
    font-size: 2em;
    margin-bottom: 1vh;
    font-family: monospace;
  }
  .services .light-boxes-container .service-box ul {
    color: rgb(28, 28, 28);
    list-style: square;
    align-self: center;
    margin-left: 0;
  }
}
/* #endregion */

/*TODO #region SERVICIOS (PC) */
@media (min-width: 1200px) {
.services {
    background-color: #fff;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .services .dark-boxes-container {
    display: flex;
    background-color: #fff;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 0vh;
    padding: 0;
  }
  .services .dark-boxes-container .service-box {
    background-color: #0b2235;
    width: 40vw;
    height: MAX-content;
    margin-top: 2.5vh;
    padding: 2.5vh 4vw;
    border-radius: 25px;
    display: flex;
    font-size: 1.3em;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .services .dark-boxes-container .service-box .servicio-title {
    color: rgb(232, 232, 232);
    font-size: 2em;
    margin-bottom: 1vh;
    font-family: monospace;
  }
  .services .dark-boxes-container .service-box ul {
    color: rgb(209, 209, 209);
    list-style: square;
    align-self: center;
    margin-left: 0;
  }
  .services .dark-boxes-container #title-box {
    background-color: transparent;
    margin: 0;
    padding: 0;
    font-size: 2.2em;
    text-align: center;
  }
  .services .light-boxes-container {
    display: flex;
    background-color: #0b2235;
    width: 50vw;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin-top: 0;
    margin-bottom: 0vh;
    padding: 0;
  }
  .services .light-boxes-container .service-box {
    background-color: #fff;
    width: 40vw;
    height: max-content;
    margin-top: 2.5vh;
    padding: 2.5vh 4vw;
    border-radius: 25px;
    margin-bottom: 1vh;
    display: flex;
    font-size: 1.3em;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .services .light-boxes-container .service-box .servicio-title {
    color: rgb(11, 11, 11);
    font-size: 2em;
    margin-bottom: 1vh;
    font-family: monospace;
  }
  .services .light-boxes-container .service-box ul {
    color: rgb(28, 28, 28);
    list-style: square;
    align-self: center;
    margin-left: 0;
  }
}
/* #endregion */

/* * <=============== EQUIPO ==============> */

/*TODO #region EQUIPO (MOBILE) */
.team {
  background: linear-gradient(to right, #023859, #0b2235);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.team-title{
  color: ghostwhite;
  font-size: 5em;
}
.team .slider-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.slider-izquierdo, .slider-derecho{
  background-color: #fff;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  border-radius: 15px;
}
.slider-izquierdo img, .slider-derecho img{
  width: 3vw;
}
.slider-screen{
  width: 20vw;
  height: 60vh;
  margin: 4vw;
  border-radius: 15px;
}
.slider-screen img{
  width: 100%;
  height: 100%;
  border-radius: 15px;
  animation: fade 5s infinite;
}
/* #endregion */

/*TODO #region EQUIPO (TABLET) */

/* #endregion */

/*TODO #region EQUIPO (PC) */

/* #endregion */

/*? #region ANIMACION */
@keyframes fade {
  0%{
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.5;
  }
}
/* #endregion */

/* * <=============== CONTACTO ===============> */